@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(./media/movieposters.jpg);
    color: white;
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
}
header {
    font-size: 2rem;
}

h1 {
    background-image: linear-gradient(
        120deg,
        #ff6868 0%,
        #ff1111 50%,
        #ff6868 100%
    );
    padding: 10px;
    border-radius: 25px;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}
form button {
    color: #ff6868;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    background: #ff6868;
    color: white;
}
.todo-container {
    display: inline;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 2rem 35%;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    transition: all 1s ease;
}
.todo-input {
    border-radius: 15px 0 0 15px;
}
.filter-todo {
    padding: 1rem;
    /* border-radius: 15px 0 0 15px; */
}

.todo li {
    flex: 1;
    list-style: none;
}
.todo-button {
    border-radius: 0 15px 15px 0;
}

.trash-btn,
.complete-btn {
    background: #ff6868;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: rgb(18, 219, 169);
}
.trash-btn {
    border-radius: 0 15px 15px 0;
}
.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
}

/* Custom Select */
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
select {
    color: #ff6868;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    width: 12rem;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #ff6868;
    cursor: pointer;
    pointer-events: none;
}
/* Transition */
/*
  .select:hover::after {
    transform: scale(1.5);
  }
  */
